<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cs308_00"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="view.DetailedLikedSongs"
            android:exported="false" />
        <activity
            android:name="view.ImportTrackSpotify"
            android:exported="false" />
        <activity
            android:name="view.DetailedTrack"
            android:exported="false" />
        <activity
            android:name="view.DetailedPlaylist"
            android:exported="false" />
        <activity
            android:name="view.SearchPlaylist"
            android:exported="false" />
        <activity
            android:name="view.SearchTrack"
            android:exported="false" />
        <activity
            android:name="view.ImportTrack"
            android:exported="false"
            android:theme="@style/Theme.Cs308_00.NoActionBar" />
        <activity
            android:name="view.SeeAllFriends"
            android:exported="false"
            android:theme="@style/Theme.Cs308_00.NoActionBar" />
        <activity
            android:name="view.ManageFriends"
            android:exported="true"
            android:label="@string/title_activity_manage_friends"
            android:theme="@style/Theme.Cs308_00.NoActionBar" />
        <activity
            android:name="view.Settings"
            android:exported="false" />
        <activity
            android:name="view.PersonalizedTracks"
            android:exported="false" />
        <activity
            android:name="view.ResetPassword"
            android:exported="false" />
        <activity
            android:name="view.my_room"
            android:exported="true" />
        <activity
            android:name="view.ConfirmCode"
            android:exported="false" />
        <activity
            android:name="view.ForgotPassword"
            android:exported="false" />
        <activity
            android:name="view.ProfilePage"
            android:exported="false" />
        <activity
            android:name="view.RegisterPage"
            android:exported="false"
            android:theme="@style/CustomTheme.Main" />
        <activity
            android:name="view.Dashboard"
            android:exported="false" />
        <activity
            android:name="view.FriendsRoom"
            android:exported="false" />
        <activity
            android:name="view.LoginPage"
            android:exported="false"
            android:theme="@style/CustomTheme.Main" />
        <activity
            android:name="view.MainActivity"
            android:exported="true"
            android:theme="@style/CustomTheme.Main"
            android:windowNoTitle="true"> <!-- Apply the custom theme here -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>